#Cache de Python y Migrations
*/__pycache__/*
*/migrations/0*.py
*/migrations/__pycache__
*/*/migrations/0*.py
*/*/migrations/__pycache__
*/*/__pycache__/*
*/*/*/__pycache__/*
*/*/*/*/*.pyc

#Base de datos
*/db.sqlite3

#Virtualenv
env/
